<div class="container">
  <div class="chat-wrapper">
    <div class="side">
      <div class="side-bar">
        <div class="chat-logo">
          <svg height="100" viewBox="0 0 300 100" width="300" xmlns="http://www.w3.org/2000/svg">
            <style>
              @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
            </style>

            <!-- Secure Chat Text -->
            <text fill="#4A90E2" font-family="'Pacifico', cursive" font-size="40" text-anchor="middle" x="50%" y="60%">
              Secure Chat
            </text>
          </svg>
          <!--          <mat-icon>lock</mat-icon>-->
          <!--          <img alt="logo" src="/public/assets">-->
        </div>

        <div class="chat-header">
          <h2>Chats</h2>
          <button id="new-chat">
            <mat-icon>chat</mat-icon>
            New Chat
          </button>
        </div>

        <div class="chats">

        </div>

        <div class="controls">
          <div class="options">
            <mat-icon>settings</mat-icon>
            <p>Setting</p>
          </div>
          <div class="options">
            <mat-icon>person</mat-icon>
            <p>Profile</p>
          </div>
        </div>
      </div>
    </div>

    <div class="message-details">
      <div class="message-box">
        <p>Message area</p>
      </div>
      <div class="message-text">
        <textarea placeholder="Write some message"></textarea>
        <div>
          <button class="submit-btn">
            <mat-icon>arrow_upward</mat-icon>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>

