:host {
  .container {
    flex-direction: column;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    color: white;
    background-color: #292a2d;
  }

  .chat-wrapper {
    flex: 1;
    display: flex;
  }

  .side {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;


    .side-bar {
      min-width: 300px;
      display: flex;
      flex-direction: column;
      background-color: #212327;
      justify-content: space-between;
      height: 100%;

      .chat-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: xxx-large;
        font-family: cursive;
        flex: 1;
      }

      .chat-header {
        display: flex;
        justify-content: space-between;
        padding: 10px;

        button {
          background-color: #4A90E2;
          padding: 7px;
          border-radius: 10px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          font-weight: bold;

          mat-icon {
            margin-right: 5px;
          }
        }
      }

      .chats {
        flex: 8;
        padding: 0 10px;
        overflow: auto;

      }


      .controls {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        flex: 1;

        .options {
          display: flex;
          align-items: center;

          mat-icon {
            margin-right: 5px;
          }
        }
      }
    }
  }


  .message-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;


    .message-box {
      flex: 1;
      overflow-y: auto;
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 10px;
    }

    .message {
      margin-bottom: 10px;
    }

    .message-text {
      display: flex;

      input {
        flex: 1;
        padding: 10px;
        margin-right: 10px;
      }

      button {
        padding: 10px 20px;
      }
    }
  }

}
